<%= form_for([@person, @phone], html: {class: "ui form"}) do |f| %>
	<div class="field">
		<%= f.label :number %><br>
		<%= f.text_field :number %>
	</div>

	<div class="field">
		<%= f.label :default %>
		<%= f.check_box :default %>
	</div>

	<div class="actions">
		<%= f.submit class: "ui primary button" %>
		<%= link_to 'Back', person_phones_path(@person), class: "btn ui inverse button" %>
	</div>
<% end %>