<%= javascript_include_tag "application", "jquery.maskedinput" %>


<p id="notice"><%= notice %></p>

<table class="ui celled padded table">
  <thead>
    <tr>
      <th class="single line"> Nome</th>
      <th> Number</th>
	</tr>
	<tr>
		<td>
			 <%= @person.name %>
		</td>
		<td>
			 <%= @phone.number %>
		</td>
	</tr>
</table>
	

<%= link_to 'Edit', edit_person_phone_path(@person, @phone) %> |
<%= link_to 'Back', person_phones_path(@person) %>

