<h1>Phone</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Default:</strong>
  <%= @phone.default %>
</p>


<%= link_to 'Edit', edit_person_phone_path(@person, @phone) %> |
<%= link_to 'Back', person_phones_path(@person) %>

