<% if @person.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      prohibited this person from being saved:
    </div>
    <ul class="list">
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@person, :html => {:class => 'ui form'}) do |f| %>
  <div class="field <% if @person.errors[:name].any? %> error <% end %>">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field <% if @person.errors[:status].any? %> error <% end %>">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(["online", "offline", "busy", "hide"]) %>
  </div>
  <div class="field <% if @person.errors[:username].any? %> error <% end %>">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field <% if @person.errors[:birthday].any? %> error <% end %>">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday %>
  </div>
  <div class="field <% if @person.errors[:bio].any? %> error <% end %>">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="ui one column centered grid panel-buttons">
    <div class="actions ui buttons">
      <%= link_to 'Back', people_path, :class => "ui button" %>
      <div class="or"></div>
      <%= f.submit :class => "ui positive button" %>
    </div>
  </div>
<% end %>
