
<i class="close icon"></i>

<div class="header">
  <p>
    <strong>Name:</strong>
    <%= @person.name %>
  </p>
</div>

<div class="image content">
  <div class="ui medium image">
    <%= image_tag "imagem.png" %> 
  </div>

<div class="description">
  <div class="ui header"></div>  
  <p>
    <strong>Born:</strong>
    <%= @person.born %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @person.weight %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @person.description %>
  </p>

