<p id="notice"><%= notice %></p>
<div class="ui container">


<div class="ui top attached button">Listing People
<%= link_to 'New Person', new_person_path do %><%= image_tag:"busy.png", 'ui small right floated image' %>
<%= end %>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Birthday</th>
      <th>Bio</th>
      <th colspan="3">Options</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr id="people_<%=person.id%>">
        <td><%= person.name %></td>
        <td><%= person.username %></td>
        <td><%= person.birthday %></td>
        <td><%= person.bio %></td>
        <td> <%= link_to 'Show', person, class: 'ui green button'%></td>
        <td><%= link_to 'Edit', edit_person_path(person), class: 'ui yellow button' %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red button' %>

        <td class="ui middle aligned tiny image">
      <%= image_tag "#{person.status}.png" %>
    </td></tr>
    <% end %>
  </tbody>
</table>

<br>
 
<div class="ui modal">
</div>
</div>