


<p id="notice" class= "ui image label" ><%= notice %></p>
<p>
   <div class="image_status">
    <%= image_tag "#{@person.status}.png" %>
  </div>
</p>
<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @person.username %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @person.birthday %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<% @phones.each do |phone| %>
      <tr>
        <td><%= phone.number %></td>
         </tr>
    <% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
