<div class="header">
  Profile <%= @person.name %>
</div>
<div class="content">
  <p id="notice"><%= notice %></p>

  <table class="ui celled padded table">
    <tbody>
      <tr>
        <td><div class="content">Name:</div></td>
        <td> <%= @person.name %></td>
      </tr>
      <tr>
        <td><div class="content">Status:</div></td>
        <td> <%= image_tag(''+@person.status+'.png', size: '20x20', alt: ''+@person.status) %></td>
      </tr>
      <tr>
        <td><div class="content">Username:</div></td>
        <td> <%= @person.username %></td>
      </tr>
      <tr>
        <td><div class="content">Birthday:</div></td>
        <td> <%= @person.birthday %></td>
      </tr>
      <tr>
        <td><div class="content">Bio</div></td>
        <td> <%= @person.bio %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui labeled icon menu">
  <%= link_to person_friends_path(@person), class: 'item' do %>
  <i class="users icon"></i>
    Friends
  <% end %>
  <%= link_to person_phones_path(@person), class: 'item' do %>
    <i class="call square icon"></i>
    Phones
  <% end %>
</div>

