<i class="close icon"></i>
  <div class="header">
    All Friends of <%= @person.name %>
  </div>
    <div class="content">
      <p id="notice"><%= notice %></p>
      <table class="ui celled table">
        <thead>
          <th>Name</th>
          <th>Birthday</th>
          <th colspan="3">Actions</th>
        </thead>

        <tbody>
          <% @friends.each do |friend| %>
          <tr id="friend_<%= friend.id %>">
            <td><%= friend.name %></td>
            <td><%= friend.birthday %></td>
            <td><%= link_to image_tag('details.png'), person_friend_path(@person, friend), remote: true %></td>
            <td><%= link_to image_tag('edit.png'), edit_person_friend_path(@person, friend), remote: true %></td>
            <td><%= link_to image_tag('delete.png'), person_friend_path(@person, friend), method: :delete, data: { confirm: 'Tem certeza?' }, remote: true %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
        
    <div class="ui labeled icon menu">
      <%= link_to new_person_friend_path(@person), class: 'item', remote: true do %>
        <i class="add user icon"></i>
          New Friend
      <% end %>
    </div>
    
    <div class="actions">  
      <div class="ui black deny button item">
        Back
      </div>
    </div>










