<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @friend.birthday %>
</p>

<%= link_to 'Contacts', person_friend_contacts_path(@person, @friend) %> |
<%= link_to 'Edit', edit_person_friend_path(@person, @friend) %> |
<%= link_to 'Back', person_friends_path(@person) %>
