<!DOCTYPE html>
<html>
<head>
  <title>Web514</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://raw.githubusercontent.com/igorescobar/jQuery-Mask-Plugin/master/src/jquery.mask.js"></script>
</head>
<body>
  <div class="ui two column centered grid">
    <div class="column"></div>
    <div class="two column centered row">
      <div class="column">
        <% if notice.present? %>
          <div class="ui info message">
            <i class="close icon"></i>
            <div class="header">
              Information!!
            </div>
            <%= notice %>
          </div>
        <% end %>

      </div>
      <div class="column"></div>
    </div>
  </div>

<%= yield %>

</body>
</html>
