<!DOCTYPE html>
<html>
<head>
  <title>Web514</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="modal_person ui modal"></div>
	<div class="modal_phone ui modal"></div>
	<div class="modal_contact ui modal"></div>
	<div class="modal_phones ui modal"></div>
	<div class="modal_friends ui modal"></div>

	
	<div class="ui inverted menu">
		<%= link_to_unless_current 'Home', root_path, class: 'item' %>
		<%= link_to_unless_current 'Pessoas', people_path, class: 'item' %>
		<div class="right menu">
	    <%= link_to_unless_current 'API Ruby On Rails', 'http://api.rubyonrails.org/v4.2.0/', class: 'item' %>
	  </div>
	</div>

	

	<div class="ui text container">
		<%= yield %>
	</div>
	 
</body>
</html>
